GOOGLE_API_KEY=AIzaSyBItU3CpLXLamNOUIUvw5QZceOTxjvK35A
GOOGLE_GENAI_USE_VERTEXAI=true
GOOGLE_CLOUD_PROJECT=oxjytxr-mss-mkt-genai-accel
GOOGLE_CLOUD_LOCATION=us-central1
GOOGLE_CLOUD_PROJECT_NUMBER=48233614973
# Development Profile
DEV_PROJECT_ID=oxjytxr-mss-mkt-genai-accel
DEV_PROJECT_NUMBER=48233614973
DEV_PROJECT_LOCATION=us-central1
DEV_STAGING_BUCKET=gs://gtm-customerinnovation-staging
DEV_AGENT_SPACE_ENGINE=gs-aix-agentspace-test_1745371742740
DEV_API_TOKEN=AIzaSyBItU3CpLXLamNOUIUvw5QZceOTxjvK35A
DEV_OAUTH_CLIENT_ID=48233614973-oth2dc9bmbvbf4001vktqqo32sql6omk.apps.googleusercontent.com
DEV_OAUTH_CLIENT_SECRET=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